*{
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: 2em;
}
h1{
    color:white;
}
.row{
    padding: 2em;
}
.barra{
    background-color: #ff266E;
}
.cajaBorde{
    border-style: solid;
    border-color: #ff266E;
    height: 30vh;
}
